.body {
    flex: .8;
    height: 100vh;
    padding: 30px;
    color: white;
    background: linear-gradient(#40656d, rgba(0, 0, 0, 1));
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info > img {
    height: 20vw;
    margin: 0 20px;
}

.body__infoText {
    flex: 1;
}

.body__infoText > h2{
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1;
}

.body__infoText > p{
    font-size: 14px;
}