.login {
    /* Center the content */
    display: grid;
    place-items: center;

    height: 100vh;
    background-color: #2e383f;
}

.login > img{
    width: 100%;
    max-width: 350px;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none;
}